**/*

# Formati per il c++
!**/*.cpp
!**/*.hpp
!**/*.h
!**/*.cc
!**/*.cxx
!**/*.hh
!**/*.c++

# Formati per il python
!**/*.py

# Formati per il java
!**/*.java
!**/*.class


# File geerici
!*/
!**/*.md
!**/*.txt
!**/*.pdf
!**/*.gitignore